<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maikkkko1.essential_libs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name=".common.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

    </application>
</manifest>